Aqui tentaremos

In [ ]:
import pandas as pd
import numpy as np


import plotly.express as px
import plotly.graph_objects as go
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
import factor_analyzer
from plotly.subplots import make_subplots

In [14]:
path_dic= r"../dados/microdados_enem_2019/DICIONÁRIO/Dicionário_Microdados_Enem_2019.xlsx"
path_microdados=r"../dados/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv"

In [13]:
dic_enem = pd.read_excel(path_dic, header=1)


dic_enem.columns = dic_enem.columns.str.strip()


dic_enem.rename(columns={dic_enem.columns[0]: 'NOME DA VARIÁVEL'}, inplace=True)


dic_enem = dic_enem.dropna(subset=['NOME DA VARIÁVEL'])
print(dic_enem['NOME DA VARIÁVEL'].head())

0         NOME DA VARIÁVEL
2    DADOS DO PARTICIPANTE
3             NU_INSCRICAO
4                   NU_ANO
5          TP_FAIXA_ETARIA
Name: NOME DA VARIÁVEL, dtype: object

In [15]:

df_participantes_prova=pd.read_csv(path_microdados, encoding='latin-1', sep=";",chunksize=1e5, low_memory=False)


chunks_processados=[] #dados muito massivos necessitam desse passo aq
for i, chunk in enumerate(df_participantes_prova):
  print(f'processando o {i+1}-ésimo chunk da base de dados. Seu tamanho é {chunk.shape}')
  chunks_processados.append(chunk)
  df_semi_final= pd.concat(chunks_processados)





#print(df_itens_prova.shape)
print(df_semi_final.shape)
print()
display(df_semi_final.head(10))
#print(df_resultados.shape)

processando o 1-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 2-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 3-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 4-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 5-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 6-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 7-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 8-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 9-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 10-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 11-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 12-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 13-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 14-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 15-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 16-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 17-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 18-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 19-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 20-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 21-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 22-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 23-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 24-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 25-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 26-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 27-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 28-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 29-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 30-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 31-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 32-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 33-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 34-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 35-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 36-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 37-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 38-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 39-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 40-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 41-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 42-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 43-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 44-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 45-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 46-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 47-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 48-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 49-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 50-ésimo chunk da base de dados. Seu tamanho é (100000, 76)
processando o 51-ésimo chunk da base de dados. Seu tamanho é (95171, 76)
(5095171, 76)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001595656,2019,13,M,1,3,1,1,11,1,...,A,A,A,A,A,A,C,A,C,B
1,190001421546,2019,8,M,1,1,1,1,5,1,...,A,A,A,B,A,A,E,A,A,B
2,190001133210,2019,13,F,1,3,1,1,13,1,...,A,A,A,B,A,A,C,A,A,B
3,190001199383,2019,10,F,1,1,1,1,4,1,...,A,A,A,C,A,B,D,A,B,B
4,190001237802,2019,7,F,1,1,1,1,4,1,...,B,A,A,B,A,A,C,B,B,B
5,190001782198,2019,13,M,2,2,1,1,13,1,...,B,A,A,B,A,A,E,A,B,B
6,190001421548,2019,7,F,1,3,1,1,5,1,...,A,A,A,B,A,A,B,A,A,A
7,190001595657,2019,5,M,1,3,1,1,1,1,...,B,A,A,B,A,A,C,A,A,B
8,190001592264,2019,5,F,1,1,1,1,1,1,...,B,A,A,B,A,A,B,B,A,A
9,190001592266,2019,2,M,1,1,1,2,0,2,...,B,A,A,B,A,B,C,B,B,B

In [16]:
print(df_semi_final.columns)

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

Como queremos fazer análise baseado na nota final e dados como ano(2019) e cor da prova são irrelevantes para isso, vamos tirar essas colunas.

In [17]:
colunas_para_remover = ['NU_ANO','TX_RESPOSTAS_CN','TX_RESPOSTAS_CH','TX_RESPOSTAS_LC','TX_RESPOSTAS_MT','TX_GABARITO_CN','TX_GABARITO_CH','TX_GABARITO_LC','TX_GABARITO_MT','NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC','CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA']
df_semi_final.drop(columns=colunas_para_remover, inplace=True, errors='ignore')
display(df_semi_final.head(10))
print("="*100)
print(df_semi_final.shape)

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001595656,13,M,1,3,1,1,11,1,NaN,...,A,A,A,A,A,A,C,A,C,B
1,190001421546,8,M,1,1,1,1,5,1,1.0,...,A,A,A,B,A,A,E,A,A,B
2,190001133210,13,F,1,3,1,1,13,1,1.0,...,A,A,A,B,A,A,C,A,A,B
3,190001199383,10,F,1,1,1,1,4,1,NaN,...,A,A,A,C,A,B,D,A,B,B
4,190001237802,7,F,1,1,1,1,4,1,1.0,...,B,A,A,B,A,A,C,B,B,B
5,190001782198,13,M,2,2,1,1,13,1,NaN,...,B,A,A,B,A,A,E,A,B,B
6,190001421548,7,F,1,3,1,1,5,1,1.0,...,A,A,A,B,A,A,B,A,A,A
7,190001595657,5,M,1,3,1,1,1,1,NaN,...,B,A,A,B,A,A,C,A,A,B
8,190001592264,5,F,1,1,1,1,1,1,1.0,...,B,A,A,B,A,A,B,B,A,A
9,190001592266,2,M,1,1,1,2,0,2,1.0,...,B,A,A,B,A,B,C,B,B,B

====================================================================================================
(5095171, 52)

In [18]:
print(df_semi_final['IN_TREINEIRO'].value_counts())

df_semi_final= df_semi_final[df_semi_final['IN_TREINEIRO']==0]
df_semi_final.drop(columns=['IN_TREINEIRO'], inplace=True)
print(df_semi_final.shape)
#df_semi_final.to_csv('df_semi_final.csv', index=False)

IN_TREINEIRO
0    4478504
1     616667
Name: count, dtype: int64
(4478504, 51)

In [19]:
display(df_semi_final.columns)

Index(['NU_INSCRICAO', 'TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

In [20]:
colunas_descricao =['NU_INSCRICAO', 'TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN',
       'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN',
       'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025']
descricoes = dic_enem[dic_enem['NOME DA VARIÁVEL'].isin(colunas_descricao)]

descricoes.columns = descricoes.columns.str.strip()


print("-" * 30)
print("DICIONÁRIO DE VARIÁVEIS SELECIONADAS")
print("-" * 30 + "\n")


for index, row in descricoes.iterrows():
    var_nome = row['NOME DA VARIÁVEL']
    var_desc = row['Descrição'] if 'Descrição' in descricoes.columns else row.iloc[1]
    print(f" {var_nome}:")
    print(f"{var_desc}\n")

------------------------------
DICIONÁRIO DE VARIÁVEIS SELECIONADAS
------------------------------

 NU_INSCRICAO:
Número de inscrição1

 TP_FAIXA_ETARIA:
Faixa etária2

 TP_SEXO:
Sexo

 TP_ESTADO_CIVIL:
Estado Civil

 TP_COR_RACA:
Cor/raça

 TP_NACIONALIDADE:
Nacionalidade

 TP_ST_CONCLUSAO:
Situação de conclusão do Ensino Médio

 TP_ANO_CONCLUIU:
Ano de Conclusão do Ensino Médio

 TP_ESCOLA:
Tipo de escola do Ensino Médio

 TP_ENSINO:
Tipo de instituição que concluiu ou concluirá o Ensino Médio

 IN_TREINEIRO:
Indica se o inscrito fez a prova com intuito de apenas treinar seus conhecimentos3

 NO_MUNICIPIO_ESC:
Nome do município da escola

 CO_UF_ESC:
Código da Unidade da Federação da escola

 SG_UF_ESC:
Sigla da Unidade da Federação da escola

 TP_DEPENDENCIA_ADM_ESC:
Dependência administrativa (Escola)

 TP_LOCALIZACAO_ESC:
Localização (Escola)

 TP_SIT_FUNC_ESC:
Situação de funcionamento (Escola)

 CO_MUNICIPIO_PROVA:
Código do município da aplicação da prova

 NO_MUNICIPIO_PROVA:
Nome do município da aplicação da prova

 CO_UF_PROVA:
Código da Unidade da Federação da aplicação da prova

 SG_UF_PROVA:
Sigla da Unidade da Federação da aplicação da prova

 TP_PRESENCA_CN:
Presença na prova objetiva de Ciências da Natureza

 TP_PRESENCA_CH:
Presença na prova objetiva de Ciências Humanas

 TP_PRESENCA_LC:
Presença na prova objetiva de Linguagens e Códigos

 TP_PRESENCA_MT:
Presença na prova objetiva de Matemática

 NU_NOTA_CN:
Nota da prova de Ciências da Natureza

 NU_NOTA_CH:
Nota da prova de Ciências Humanas

 NU_NOTA_LC:
Nota da prova de Linguagens e Códigos

 NU_NOTA_MT:
Nota da prova de Matemática

 TP_LINGUA:
Língua Estrangeira

 TP_STATUS_REDACAO:
Situação da redação do participante

 NU_NOTA_REDACAO:
Nota da prova de redação

 Q001:
Até que série seu pai, ou o homem responsável por você, estudou?

 Q002:
Até que série sua mãe, ou a mulher responsável por você, estudou?

 Q003:
A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação do seu pai ou do homem responsável por você. (Se ele não estiver trabalhando, escolha uma ocupação pensando no último trabalho dele).

 Q004:
A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação da sua mãe ou da mulher responsável por você. (Se ela não estiver trabalhando, escolha uma ocupação pensando no último trabalho dela).

 Q005:
Incluindo você, quantas pessoas moram atualmente em sua residência?

 Q006:
Qual é a renda mensal de sua família? (Some a sua renda com a dos seus familiares.)

 Q007:
Em sua residência trabalha empregado(a) doméstico(a)?

 Q008:
Na sua residência tem banheiro?

 Q009:
Na sua residência tem quartos para dormir?

 Q010:
Na sua residência tem carro?

 Q011:
Na sua residência tem motocicleta?

 Q012:
Na sua residência tem geladeira?

 Q013:
Na sua residência tem freezer (independente ou segunda porta da geladeira)?

 Q014:
Na sua residência tem máquina de lavar roupa? (o tanquinho NÃO deve ser considerado)

 Q015:
Na sua residência tem máquina de secar roupa (independente ou em conjunto com a máquina de lavar roupa)?

 Q016:
Na sua residência tem forno micro-ondas?

 Q017:
Na sua residência tem máquina de lavar louça?

 Q018:
Na sua residência tem aspirador de pó?

 Q019:
Na sua residência tem televisão em cores?

 Q020:
Na sua residência tem aparelho de DVD?

 Q021:
Na sua residência tem TV por assinatura?

 Q022:
Na sua residência tem telefone celular?

 Q023:
Na sua residência tem telefone fixo?

 Q024:
Na sua residência tem computador?

 Q025:
Na sua residência tem acesso à Internet?

Após tirar os treineiros e fazer o pré-processamento de colunas que não servem ao modelo, ainda nos restam mais de 4 milhões de linhas. Para todos os efeitos, essa base de dados é muito grande para nossa tarefa.

In [27]:
for column in df_semi_final.columns:
  print(f'{column}: {df_semi_final[column].unique()}')

NU_INSCRICAO: [190001867757 190001692704 190001595660 ... 190005441855 190005865715
 190005863624]
TP_FAIXA_ETARIA: [ 2  3  4 12  5  7  1 10  6 11  8  9 15 14 13 16 17 18 19]
TP_SEXO: ['F' 'M']
TP_ESTADO_CIVIL: [1 2 3 0 4]
TP_COR_RACA: [1 2 3 0 4 5]
TP_NACIONALIDADE: [1 4 2 0 3]
TP_ST_CONCLUSAO: [2]
TP_ANO_CONCLUIU: [0]
TP_ESCOLA: [3 2]
TP_ENSINO: [1. 2.]
CO_UF_ESC: [41. 43. 35. 29. 25. 13. 53. 22. 15. 31. 23. 33. 24. 50. 51. 17. 27. 52.
 16. 26. 42. 21. 32. 11. 12. 28. 14.]
SG_UF_ESC: ['PR' 'RS' 'SP' 'BA' 'PB' 'AM' 'DF' 'PI' 'PA' 'MG' 'CE' 'RJ' 'RN' 'MS'
 'MT' 'TO' 'AL' 'GO' 'AP' 'PE' 'SC' 'MA' 'ES' 'RO' 'AC' 'SE' 'RR']
TP_DEPENDENCIA_ADM_ESC: [4. 2. 1. 3.]
TP_LOCALIZACAO_ESC: [1. 2.]
TP_SIT_FUNC_ESC: [1. 4. 2. 3.]
NU_NOTA_CN: [618.2 430.4 371.8 ... 743.1 769.4 743.2]
NU_NOTA_CH: [744.7 466.8 501.4 ... 756.3 745.4 766.2]
NU_NOTA_LC: [636.3 515.9 518.6 ... 723.4 698.6 706.9]
NU_NOTA_MT: [713.7 394.1 442.  ... 912.5 928.1 938.2]
NU_NOTA_REDACAO: [ 900.  580.  660.  620.  480.  260.  560.  820.  880.  800.  540.  640.
  720.  500.  940.  960.  680.  520.  600.  860.  740.  780.  920.  760.
  280.  700.  400.  460.  360.  440.  420.  300.  380.  840.  320.  340.
  980.  240.  220.   80.  200.  180.  160.  140.   40.   60.  120. 1000.
  100.]
Q001: ['E' 'D' 'H' 'B' 'C' 'F' 'A' 'G']
Q002: ['E' 'B' 'F' 'C' 'H' 'A' 'G' 'D']
Q003: ['B' 'C' 'F' 'A' 'D' 'E']
Q004: ['B' 'D' 'C' 'F' 'A' 'E']
Q005: [ 2  3  4  6  5  7  8  1  9 14 11 12 10 15 13 18 16 17 20 19]
Q006: ['E' 'A' 'B' 'C' 'G' 'D' 'K' 'F' 'I' 'J' 'Q' 'H' 'P' 'N' 'M' 'O' 'L']
Q007: ['A' 'B' 'D' 'C']
Q008: ['B' 'C' 'D' 'A' 'E']
Q009: ['C' 'D' 'B' 'A' 'E']
Q010: ['B' 'A' 'C' 'D' 'E']
Q011: ['A' 'B' 'C' 'D' 'E']
Q012: ['B' 'C' 'A' 'D' 'E']
Q013: ['B' 'A' 'C' 'D' 'E']
Q014: ['B' 'A' 'C' 'D' 'E']
Q015: ['A' 'B' 'C' 'D' 'E']
Q016: ['B' 'A' 'C' 'D' 'E']
Q017: ['A' 'B' 'C' 'E' 'D']
Q018: ['B' 'A']
Q019: ['B' 'A' 'C' 'D' 'E']
Q020: ['B' 'A']
Q021: ['A' 'B']
Q022: ['C' 'D' 'E' 'B' 'A']
Q023: ['B' 'A']
Q024: ['B' 'A' 'C' 'D' 'E']
Q025: ['B' 'A']

escolhendo somente quem concluiu a prova como um todo sem problemas

In [28]:
#vamos tomar somente aqueles alunos que foram os dois dias
df_semi_final= df_semi_final[(df_semi_final['TP_PRESENCA_CN']==1) & (df_semi_final['TP_PRESENCA_CH']==1) & (df_semi_final['TP_PRESENCA_LC']==1) & (df_semi_final['TP_PRESENCA_MT']==1)&(df_semi_final['TP_STATUS_REDACAO']==1)]

KeyError: 'TP_PRESENCA_CN'

In [22]:
df_semi_final.shape

(3089512, 51)

In [23]:
df_semi_final.drop(columns=['TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT','TP_STATUS_REDACAO','TP_LINGUA' ], inplace=True)

In [24]:
df_semi_final.shape

(3089512, 45)

In [25]:
for nan in df_semi_final.columns:
  print(f'{nan}: {df_semi_final[nan].isna().sum()}')

NU_INSCRICAO: 0
TP_FAIXA_ETARIA: 0
TP_SEXO: 0
TP_ESTADO_CIVIL: 0
TP_COR_RACA: 0
TP_NACIONALIDADE: 0
TP_ST_CONCLUSAO: 0
TP_ANO_CONCLUIU: 0
TP_ESCOLA: 0
TP_ENSINO: 1024663
CO_UF_ESC: 2168215
SG_UF_ESC: 2168215
TP_DEPENDENCIA_ADM_ESC: 2168215
TP_LOCALIZACAO_ESC: 2168215
TP_SIT_FUNC_ESC: 2168215
NU_NOTA_CN: 0
NU_NOTA_CH: 0
NU_NOTA_LC: 0
NU_NOTA_MT: 0
NU_NOTA_REDACAO: 0
Q001: 0
Q002: 0
Q003: 0
Q004: 0
Q005: 0
Q006: 0
Q007: 0
Q008: 0
Q009: 0
Q010: 0
Q011: 0
Q012: 0
Q013: 0
Q014: 0
Q015: 0
Q016: 0
Q017: 0
Q018: 0
Q019: 0
Q020: 0
Q021: 0
Q022: 0
Q023: 0
Q024: 0
Q025: 0

Pelo que pesquisamos, inscritos que não estão no ano de conclusão do EM podem optar por não responder o questionário sobre escolaridade. Como nosso objetivo é tomar indivíduos saindo do EM, vamos simplesmente droppar essas linhas.

In [26]:
#droppando os nan's de TP_ENSINO e  CO_UF_ESC
df_semi_final.dropna(subset=['TP_ENSINO', 'CO_UF_ESC'], inplace=True)

df_semi_final.shape

(880332, 45)

In [29]:
df_semi_final['MEDIA_CANDIDATO']=(df_semi_final['NU_NOTA_CN']+df_semi_final['NU_NOTA_CH']+df_semi_final['NU_NOTA_LC']+df_semi_final['NU_NOTA_MT']+df_semi_final['NU_NOTA_REDACAO'])/5
df_semi_final.head()

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,MEDIA_CANDIDATO
26,190001867757,2,F,1,1,1,2,0,3,1.0,...,A,B,B,B,A,C,B,B,B,722.58
28,190001692704,3,F,1,1,1,2,0,2,1.0,...,A,A,B,B,A,D,A,B,A,477.44
31,190001595660,2,F,1,2,1,2,0,2,1.0,...,A,A,A,A,A,D,A,A,B,498.76
34,190001421552,2,M,1,2,1,2,0,2,1.0,...,A,A,B,A,A,C,A,A,B,614.34
53,190001480443,3,M,2,3,4,2,0,2,1.0,...,A,A,C,B,A,E,A,A,B,422.28

In [30]:


def mapear_questionario_enem(df):

    df_proc = df_semi_final.copy()

    #  Mapeamento Geral para Bens (Q008 a Q024)
    # Padrão: A=0 (Não tem), B=1, C=2, D=3, E=4 ou mais
    mapa_bens = {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4}
    colunas_bens = [f'Q{i:03d}' for i in range(8, 25) if f'Q{i:03d}' in df_proc.columns]
    for col in colunas_bens:
        df_proc[col] = df_proc[col].map(mapa_bens)

    #  Mapeamento de Escolaridade (Q001 e Q002)
    # A=0 (Não estudou) até G=6 (Pós), H=NaN (Não sabe)
    mapa_escolaridade = {
        'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': np.nan
    }
    for col in ['Q001', 'Q002']:
        if col in df_proc.columns:
            df_proc[col] = df_proc[col].map(mapa_escolaridade)

    #  Mapeamento de Renda (Q006)
    # A=0 (Sem renda) até Q=16 (Mais de 20 mil)
    #  código ASCII para converter letras A-Q em 0-16 automaticamente
    mapa_renda = {chr(65+i): i for i in range(17)}
    if 'Q006' in df_proc.columns:
        df_proc['Q006'] = df_proc['Q006'].map(mapa_renda)

    #  Mapeamento de Internet (Q025)
    # A=0 (Não), B=1 (Sim)
    if 'Q025' in df_proc.columns:
        df_proc['Q025'] = df_proc['Q025'].map({'A': 0, 'B': 1})

    return df_proc


df_semi_final_numerico = mapear_questionario_enem(df_semi_final)


display(df_semi_final_numerico[['Q001', 'Q002', 'Q006', 'Q024', 'Q025']].head())

    Q001  Q002  Q006  Q024  Q025
26   4.0   4.0     4     1     1
28   4.0   1.0     0     1     0
31   4.0   5.0     1     0     1
34   4.0   2.0     1     0     1
53   3.0   4.0     2     0     1

In [31]:
display(df_semi_final_numerico.head(10))

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,MEDIA_CANDIDATO
26,190001867757,2,F,1,1,1,2,0,3,1.0,...,0,1,1,1,0,2,1,1,1,722.58
28,190001692704,3,F,1,1,1,2,0,2,1.0,...,0,0,1,1,0,3,0,1,0,477.44
31,190001595660,2,F,1,2,1,2,0,2,1.0,...,0,0,0,0,0,3,0,0,1,498.76
34,190001421552,2,M,1,2,1,2,0,2,1.0,...,0,0,1,0,0,2,0,0,1,614.34
53,190001480443,3,M,2,3,4,2,0,2,1.0,...,0,0,2,1,0,4,0,0,1,422.28
55,190001082475,2,F,1,3,1,2,0,2,1.0,...,0,0,1,0,0,2,1,1,1,369.18
56,190002037440,2,M,1,3,1,2,0,2,1.0,...,0,0,1,1,0,3,0,0,0,478.50
83,190001121527,2,F,3,1,1,2,0,2,1.0,...,0,0,0,0,0,1,0,0,0,616.58
96,190001042836,2,F,1,2,1,2,0,2,1.0,...,0,0,1,0,1,3,1,1,1,631.98
100,190001421560,4,M,1,3,1,2,0,2,1.0,...,0,0,1,0,0,2,0,0,1,443.24

In [32]:
mapa_sexo={'M':0,'F':1}
df_semi_final_numerico['TP_SEXO']=df_semi_final_numerico['TP_SEXO'].map(mapa_sexo)

Tomando o critério Brasil mencionado em https://abep.org/criterio-brasil/ para o ano de 2019, temos:

In [33]:

# A: Não possui; B: 1 unidade ; C: 2 unidades; D: 3 unidades ; E: 4 ou mais
pesos_abep = {
    'Q007': {'A': 0, 'B': 3, 'C': 7, 'D': 10, 'E': 13}, # Empregados domésticos
    'Q010': {'A': 0, 'B': 3, 'C': 5, 'D': 8, 'E': 11},  # Automóveis
    'Q024': {'A': 0, 'B': 3, 'C': 6, 'D': 8, 'E': 11},  # Microcomputador
    'Q014': {'A': 0, 'B': 3, 'C': 6, 'D': 6, 'E': 6},   # Lava-louça
    'Q012': {'A': 0, 'B': 2, 'C': 3, 'D': 5, 'E': 5},   # Geladeira
    'Q013': {'A': 0, 'B': 2, 'C': 4, 'D': 6, 'E': 6},   # Freezer
    'Q016': {'A': 0, 'B': 2, 'C': 4, 'D': 6, 'E': 6},   # Lava roupa
    'Q019': {'A': 0, 'B': 1, 'C': 3, 'D': 4, 'E': 6},   # DVD
    'Q017': {'A': 0, 'B': 2, 'C': 4, 'D': 4, 'E': 4},   # Micro-ondas
    'Q011': {'A': 0, 'B': 1, 'C': 3, 'D': 3, 'E': 3},   # Motocicleta
    'Q015': {'A': 0, 'B': 2, 'C': 2, 'D': 2, 'E': 2}    # Secadora de roupa
}

In [34]:
subset=['Q007', 'Q010', 'Q024', 'Q014', 'Q012', 'Q013', 'Q016', 'Q019', 'Q017', 'Q011', 'Q015']
df_semi_final_numerico[subset]=df_semi_final_numerico[subset].replace(pesos_abep)
df_semi_final_numerico.head()

C:\Users\joaol\AppData\Local\Temp\ipykernel_31944\576565878.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_semi_final_numerico[subset]=df_semi_final_numerico[subset].replace(pesos_abep)

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,MEDIA_CANDIDATO
26,190001867757,2,1,1,1,1,2,0,3,1.0,...,0,1,1,1,0,2,1,1,1,722.58
28,190001692704,3,1,1,1,1,2,0,2,1.0,...,0,0,1,1,0,3,0,1,0,477.44
31,190001595660,2,1,1,2,1,2,0,2,1.0,...,0,0,0,0,0,3,0,0,1,498.76
34,190001421552,2,0,1,2,1,2,0,2,1.0,...,0,0,1,0,0,2,0,0,1,614.34
53,190001480443,3,0,2,3,4,2,0,2,1.0,...,0,0,2,1,0,4,0,0,1,422.28

In [35]:
df_semi_final_numerico.head()

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,MEDIA_CANDIDATO
26,190001867757,2,1,1,1,1,2,0,3,1.0,...,0,1,1,1,0,2,1,1,1,722.58
28,190001692704,3,1,1,1,1,2,0,2,1.0,...,0,0,1,1,0,3,0,1,0,477.44
31,190001595660,2,1,1,2,1,2,0,2,1.0,...,0,0,0,0,0,3,0,0,1,498.76
34,190001421552,2,0,1,2,1,2,0,2,1.0,...,0,0,1,0,0,2,0,0,1,614.34
53,190001480443,3,0,2,3,4,2,0,2,1.0,...,0,0,2,1,0,4,0,0,1,422.28

In [36]:
df_semi_final_numerico['SCORE_RIQUEZA']=df_semi_final_numerico[subset].sum(axis=1)
df_semi_final_numerico.head()

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,MEDIA_CANDIDATO,SCORE_RIQUEZA
26,190001867757,2,1,1,1,1,2,0,3,1.0,...,1,1,1,0,2,1,1,1,722.58,7
28,190001692704,3,1,1,1,1,2,0,2,1.0,...,0,1,1,0,3,0,1,0,477.44,5
31,190001595660,2,1,1,2,1,2,0,2,1.0,...,0,0,0,0,3,0,0,1,498.76,2
34,190001421552,2,0,1,2,1,2,0,2,1.0,...,0,1,0,0,2,0,0,1,614.34,3
53,190001480443,3,0,2,3,4,2,0,2,1.0,...,0,2,1,0,4,0,0,1,422.28,6

In [37]:
df_semi_final_numerico.drop(columns=subset, inplace=True)
df_semi_final_numerico.head()

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q008,Q009,Q018,Q020,Q021,Q022,Q023,Q025,MEDIA_CANDIDATO,SCORE_RIQUEZA
26,190001867757,2,1,1,1,1,2,0,3,1.0,...,1,2,1,1,0,2,1,1,722.58,7
28,190001692704,3,1,1,1,1,2,0,2,1.0,...,1,3,0,1,0,3,0,0,477.44,5
31,190001595660,2,1,1,2,1,2,0,2,1.0,...,1,2,0,0,0,3,0,1,498.76,2
34,190001421552,2,0,1,2,1,2,0,2,1.0,...,1,2,0,0,0,2,0,1,614.34,3
53,190001480443,3,0,2,3,4,2,0,2,1.0,...,1,2,0,1,0,4,0,1,422.28,6

In [38]:
estados=df_semi_final_numerico['SG_UF_ESC'].unique()
estados

array(['PR', 'RS', 'SP', 'BA', 'PB', 'AM', 'DF', 'PI', 'PA', 'MG', 'CE',
       'RJ', 'RN', 'MS', 'MT', 'TO', 'AL', 'GO', 'AP', 'PE', 'SC', 'MA',
       'ES', 'RO', 'AC', 'SE', 'RR'], dtype=object)

A little bump in the road: há colunas que ainda estão em string

In [39]:
counter=0
for _ in df_semi_final_numerico['CO_UF_ESC'].unique():

  counter+=1

print(counter)

27

In [40]:
dic_estados={}

for key, estado_sigla in enumerate(estados):
  dic_estados[estado_sigla]=key


display(dic_estados)

{'PR': 0,
 'RS': 1,
 'SP': 2,
 'BA': 3,
 'PB': 4,
 'AM': 5,
 'DF': 6,
 'PI': 7,
 'PA': 8,
 'MG': 9,
 'CE': 10,
 'RJ': 11,
 'RN': 12,
 'MS': 13,
 'MT': 14,
 'TO': 15,
 'AL': 16,
 'GO': 17,
 'AP': 18,
 'PE': 19,
 'SC': 20,
 'MA': 21,
 'ES': 22,
 'RO': 23,
 'AC': 24,
 'SE': 25,
 'RR': 26}

In [41]:
df_semi_final_numerico['SG_UF_ESC']=df_semi_final_numerico['SG_UF_ESC'].map(dic_estados)

In [42]:
df_semi_final_numerico.drop(columns=['CO_UF_ESC'], inplace=True)

In [43]:
ocupacao_map = {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5}

df_semi_final_numerico['Q003'] = df_semi_final_numerico['Q003'].map(ocupacao_map)
df_semi_final_numerico['Q004'] = df_semi_final_numerico['Q004'].map(ocupacao_map)


display(df_semi_final_numerico[['Q003', 'Q004']].head())

    Q003  Q004
26     1     1
28     1     1
31     1     3
34     1     1
53     2     1

In [44]:
df_semi_final_numerico['SG_UF_ESC'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26])

In [45]:
display(df_semi_final_numerico.head())
print("="*50)

display(df_semi_final_numerico.info())

print("="*50)

display(df_semi_final_numerico.describe())

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q008,Q009,Q018,Q020,Q021,Q022,Q023,Q025,MEDIA_CANDIDATO,SCORE_RIQUEZA
26,190001867757,2,1,1,1,1,2,0,3,1.0,...,1,2,1,1,0,2,1,1,722.58,7
28,190001692704,3,1,1,1,1,2,0,2,1.0,...,1,3,0,1,0,3,0,0,477.44,5
31,190001595660,2,1,1,2,1,2,0,2,1.0,...,1,2,0,0,0,3,0,1,498.76,2
34,190001421552,2,0,1,2,1,2,0,2,1.0,...,1,2,0,0,0,2,0,1,614.34,3
53,190001480443,3,0,2,3,4,2,0,2,1.0,...,1,2,0,1,0,4,0,1,422.28,6

==================================================
<class 'pandas.core.frame.DataFrame'>
Index: 880332 entries, 26 to 5095146
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   NU_INSCRICAO            880332 non-null  int64
 1   TP_FAIXA_ETARIA         880332 non-null  int64
 2   TP_SEXO                 880332 non-null  int64
 3   TP_ESTADO_CIVIL         880332 non-null  int64
 4   TP_COR_RACA             880332 non-null  int64
 5   TP_NACIONALIDADE        880332 non-null  int64
 6   TP_ST_CONCLUSAO         880332 non-null  int64
 7   TP_ANO_CONCLUIU         880332 non-null  int64
 8   TP_ESCOLA               880332 non-null  int64
 9   TP_ENSINO               880332 non-null  float64
 10  SG_UF_ESC               880332 non-null  int64
 11  TP_DEPENDENCIA_ADM_ESC  880332 non-null  float64
 12  TP_LOCALIZACAO_ESC      880332 non-null  float64
 13  TP_SIT_FUNC_ESC         880332 non-null  float64
 14  NU_NOTA_CN              880332 non-null  float64
 15  NU_NOTA_CH              880332 non-null  float64
 16  NU_NOTA_LC              880332 non-null  float64
 17  NU_NOTA_MT              880332 non-null  float64
 18  NU_NOTA_REDACAO         880332 non-null  float64
 19  Q001                    799231 non-null  float64
 20  Q002                    850889 non-null  float64
 21  Q003                    880332 non-null  int64
 22  Q004                    880332 non-null  int64
 23  Q005                    880332 non-null  int64
 24  Q006                    880332 non-null  int64
 25  Q008                    880332 non-null  int64
 26  Q009                    880332 non-null  int64
 27  Q018                    880332 non-null  int64
 28  Q020                    880332 non-null  int64
 29  Q021                    880332 non-null  int64
 30  Q022                    880332 non-null  int64
 31  Q023                    880332 non-null  int64
 32  Q025                    880332 non-null  int64
 33  MEDIA_CANDIDATO         880332 non-null  float64
 34  SCORE_RIQUEZA           880332 non-null  int64
dtypes: float64(12), int64(23)
memory usage: 241.8 MB

None

==================================================

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q008,Q009,Q018,Q020,Q021,Q022,Q023,Q025,MEDIA_CANDIDATO,SCORE_RIQUEZA
count,8.803320e+05,880332.000000,880332.000000,880332.000000,880332.000000,880332.000000,880332.0,880332.0,880332.000000,880332.000000,...,880332.000000,880332.000000,880332.000000,880332.000000,880332.000000,880332.000000,880332.000000,880332.000000,880332.000000,880332.000000
mean,1.900031e+11,2.687800,0.579653,0.993292,2.075308,1.032144,2.0,0.0,2.140436,1.002525,...,1.437859,2.340595,0.231274,0.336643,0.252440,2.526516,0.261988,0.789065,529.750393,6.307442
std,1.332102e+06,1.076375,0.493615,0.235934,1.027651,0.220854,0.0,0.0,0.347439,0.050188,...,0.768104,0.755718,0.421647,0.472562,0.434413,1.090294,0.439716,0.407973,80.889918,4.239932
min,1.900010e+11,1.000000,0.000000,0.000000,0.000000,0.000000,2.0,0.0,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,96.000000,0.000000
25%,1.900020e+11,2.000000,0.000000,1.000000,1.000000,1.000000,2.0,0.0,2.000000,1.000000,...,1.000000,2.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,469.260000,3.000000
50%,1.900030e+11,3.000000,1.000000,1.000000,2.000000,1.000000,2.0,0.0,2.000000,1.000000,...,1.000000,2.000000,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,520.740000,6.000000
75%,1.900042e+11,3.000000,1.000000,1.000000,3.000000,1.000000,2.0,0.0,2.000000,1.000000,...,2.000000,3.000000,0.000000,1.000000,1.000000,3.000000,1.000000,1.000000,583.600000,8.000000
max,1.900061e+11,19.000000,1.000000,4.000000,5.000000,4.000000,2.0,0.0,3.000000,2.000000,...,4.000000,4.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,850.820000,50.000000

In [49]:
caminho_saida= r"../dados/microdados_enem_2019/dados_enem_processados.csv"

df_semi_final_numerico.to_csv(caminho_saida, index=False)

In [50]:
df_semi_final_numerico.to_csv('../dados/microdados_enem_2019/dados_enem_processados.csv.zip', index=False, compression='zip')